.compare-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--background);
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .info-button {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: var(--text);
        cursor: pointer;
    }
}

h1 {
    color: var(--text);
}

mat-button-toggle {
    background-color: var(--text-primary);
}

.text-container {
    display: flex;
    width: 90%;
    gap: 1rem;
    margin: 1rem 0;

    * {
        width: 50%;
        height: 30vh;
        padding: 0.5rem;
        overflow-y: auto;
    }

    textarea {
        background: var(--text-primary);
        border: 1px solid var(--border);
        color: var(--text-secondary);
    }
}

table {
    width: 90%;
    margin: 1rem 0;
    table-layout: fixed;
    color: var(--text-secondary);

    tr {
        vertical-align: top;
    }

    td {
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        padding: 0.25rem;
    }

    span {
        display: inline-block;
    }
}