.latex-formatter-container {
    padding: 1rem;
    width: calc(100vw - 2rem);
    overflow: hidden;
    background-color: var(--background);
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .info-button {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: var(--text);
        cursor: pointer;
    }
}

h1 {
    color: var(--text);
}

.chars {
    position: absolute;
    top: 15vh;
    right: calc(2.5vw + 1rem);
    width: 5rem;

    input {
        color: var(--text);
    }
}

.toggle {
    width: 100vw;
    display: flex;
    justify-content: center;
}

mat-button-toggle-group {
    border-radius: 10px;
    padding: 1rem;
    display: inline-flex;
    box-shadow: none !important;
}
  
mat-button-toggle {
    color: var(--text);
}
  
mat-button-toggle.mat-button-toggle-checked {
    color: var(--text);
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
  
textarea {
    box-sizing: border-box;
    width: 95%;
    height: 25vh;
    border-radius: 10px;
    padding: 10px;
}

.action {
    width: 95%;
}

.math-replacements {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 2rem;
}

.math-toggle {
    position: absolute;
    top: 3.5rem;
    right: 0;
    z-index: 2;
}

.replacements {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-container {
  overflow-x: auto;
}

.replacements table {
  width: 100%;
  border-collapse: collapse;
}

.replacements th, .replacements td {
  padding: 12px 16px;
  border: 1px solid var(--border);
}

.replacements th {
  background-color: var(--background-secondary);
  font-weight: 600;
  text-align: center;
  color: var(--text-secondary)
}

.replacements td {
  text-align: left;
  color: var(--text);
}